.App {
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.App > button:first-child {
  margin-left: 20%;
  width: 10%;
}

.App > div {
  margin-right: 50px;
}
