.buttonstyle {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-color: transparent;
  margin-right: 3%;
  align-self: left;
  font-size: 120%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 4px;
}

.buttonstyle:hover {
  background-color: black;
  color: white;
  transition: all 200ms linear;
}
