.diffbuton {
  background-color: rgba(0, 0, 255, 0);
  border-color: transparent;
  margin-right: 3%;
  align-self: right;
  font-size: 120%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  border-radius: 8px;
}

.diffbuton:hover {
  background-color: black;
  color: white;
  transition: all 200ms linear;
}
