.diffbuton {
  background-color: rgba(0, 0, 255, 0);
  border-color: transparent;
  font-size: 120%;
  margin-left: auto;
  border-radius: 8px;
}

.diffbuton:hover {
  background-color: black;
  color: white;
  transition: all 200ms linear;
}
