.grid-container {
  --gap: 5px;
  --num-cols: 4;
  --row-height: 200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: var(--gap);
  width: 100%; /* Use 100% width for responsiveness */
  max-width: 80%; /* Set a maximum width for larger screens */
  z-index: -1;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

  /* Add a media query for smaller screens */
  @media only screen and (max-width: 768px) {
    --num-cols: 2; /* Show 2 columns on smaller screens */
    --row-height: 150px; /* Reduce the row height for smaller screens */
  }
}

.grid-container > div.grid-item:hover img {
  transform: scale(0.95);
  transition: transform 0.3s ease-in; /* Add transition only to the transform property */
}

.grid-container > div.grid-item {
  position: relative;
}

.grid-container > div.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container > div.grid-item .image-title {
  position: absolute;
  bottom: 10px; /* Adjust the position as needed */
  left: 10px; /* Adjust the position as needed */
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Background color for the title (slightly opaque) */
  color: white; /* Text color for the title */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
}

.grid-container-col-2 {
  grid-column: span 2;
}

.grid-container-row-2 {
  grid-row: span 2;
}
