.grid-container {
  --gap: 5px;
  --num-cols: 4;
  --row-height: 250px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: var(--gap);
  width: 75%;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.grid-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container-col-2 {
  grid-column: span 2;
}

.grid-container-row-2 {
  grid-row: span 2;
}
.grid-container img {
  position: relative;
}
.grid-container img::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}
